/* Basic reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Styling for the header and footer */
header,
footer {
	background-color: lightcoral;
	color: white;
	padding: 20px;
	text-align: center;
}

/* Styling for the main content */
main {
	padding: 20px;
	text-align: center;
	background-color: lightblue;
}

/* Styling for the button */
button {
	background-color: lightseagreen;
	border-radius: 10px;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	margin: 50px;
}

button:hover {
	background-color: greenyellow;
}

/* Styling TextArea and Input Fields */
textarea,
input {
	padding: 10px;
	margin: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 100%;
}